
<ion-view title="Camera">
    <ion-content class="has-header padding">
        <div class="row">
            <div class="col">
                <button class="button  button-balanced" ng-click="ctrl.takePicture()">Take Picture</button>
            </div>
            <div class="col">
                <button class="button  button-balanced" ng-click="ctrl.selectPicture()">Select Picture</button>
            </div>            
                        
            <!-- <div class="col">
                <img src="">
                <button class="button  button-balanced" ng-click="ctrl.createBlob()">Create Blob</button>
            </div> -->
        </div>

        <div class="card">
                <pre>{{ctrl | json}}</pre>
        </div>

        <div class="card">
            <div class="item item-image">
                <img ng-src="{{ctrl.imgSrc}}" />
            </div>
            <div class="item item-image">
                <img ng-src= "{{ctrl.newsource}}" >
            </div>
           <!--  <div class="item">
                Canvas below:
            </div> -->
           <!--  <div class="item">
                <canvas id="picCanvas" style="width: 120px; height: 120px"></canvas>
            </div> -->
        </div>
        
    </ion-content>
</ion-view>